<div *ngIf="!list">
  <span #loading>
    <ng-content select="[loading]"></ng-content>
  </span>
  <span *ngIf="!loading.innerHTML.trim()">
    <img *ngIf="!list" src="../assets/img/giphy.gif" />
  </span>
</div>

<div *ngIf="list?.length === 0">
  <span #empty>
    <ng-content select="[empty]"></ng-content>
  </span>
  <span *ngIf="!empty.innerHTML.trim()">
    <div>No Movies</div>
  </span>
</div>

<ng-container *ngIf="list && list?.length > 0">
  <ng-content select="[content]"></ng-content>
</ng-container>
