<app-generic-list [list]="movies">
  <!-- <ng-container loading> This is loading... </ng-container>
  <ng-container empty> Sorry no movies to display </ng-container> -->
  <ng-container content>
    <div
      *ngFor="let movie of movies; let index = index"
      class="movie-container"
    >
      <div>
        <h2>{{ index }}) {{ movie.title }}</h2>
        <button style="margin-left: 1rem" (click)="remove()">Remove</button>
      </div>
      <div>{{ movie.releaseDate | date: "dd-MMMM-yyyy" }}</div>
      <div>{{ movie.price | currency }}</div>
    </div>
  </ng-container>
</app-generic-list>
